@font-face {
    font-family: BreeSerif;
    src: url(../resources/fonts/cnttqn.net_BreeSerif.otf);
}
body{
    padding: 0vh 0vw 10vh 0vw;
    font-family: BreeSerif;
    color: white;
    background-color: #1C1656;
}
#button
{
    border-radius: 20px;
    background: rgb(174,18,252);
    background: linear-gradient(90deg, rgba(174,18,252,1) 0%, rgba(107,66,252,1) 100%);
    color: white;
    height: 50px;
    border-color: transparent;
    padding: 5%;
    font-size: large;
    text-decoration: none;
}
#background
{
    background-image: url(../resources/AboutUs/main-page/newback.png);
    background-repeat:no-repeat;
    background-position:top; 
    background-size: contain;
}
#info
{
    background-color: #C2A7FA;
    padding: 2%;
    margin: -0.2vh 5vw -0.2vh 5vw;
    font-size: larger;
}
#info img
{
    width: 20vw;
    margin-top: -15vh;
    margin-left: 10%;
}