html{
    height: 100%;
    width: 98%;
}
@font-face {
    font-family: BreeSerif;
    src: url(../resources/font/BreeSerif.otf);
}
input[type=checkbox]
{
    transform: scale(1.5);
}
body
{
    height: 100%;
    width: 98%;
    background-color: #1C1656;
    color: white;
    font-family: BreeSerif;
}
#logo
{
    height: 10%;
}
#logo img{
    width: 65%;
    height: auto;
    margin: 5% 0% 0% 15%;
}
#rocket
{
    height: 100%;
    background-image: url(../resources/signin/rocket.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#content
{
    padding: 5% 8% 5% 5%;
}
.input
{
    font-family: BreeSerif;
    background-color: white;
    border-radius: 5px;
    color: black;
    max-height: 60px;
    width: 100%;
    /* padding: 1%; */
    margin: 2% 0% 2% 0%;
}
.input input
{
    max-height: 60px;
    width: 80%;
    border: none;
    border-color: transparent;
    font-size: large;
}
.input img
{
   margin: 1%;
   width: 15%;
   height: auto;
}
.sub
{
    margin: 10% 0% 5% 0%;
    color: white;
    width: 100%;
    font-size: x-large;
    padding: 2%;
    cursor: pointer;
    max-height: 60px;
    border: none;
    border-radius: 5px;
    background: rgb(168,111,246);
    background: linear-gradient(90deg, rgba(168,111,246,1) 0%, rgba(203,159,249,1) 100%); 
}
.inline{
    float: center;
    display: block;
}
a.inline
{
    float: right;
}